# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Backup files
*.bak
*.old

# OS files
.DS_Store
Thumbs.db

# outputs file
# this file change so much and it depens on the machine
.config/sway/outputs
.config/sway/config.d/30-outputs.conf

